.docs-brand {
    color: #5755d9;
    height: 2rem;
    left: 1.5rem;
    position: fixed;
    top: 0.85rem;
}
.docs-brand .docs-logo {
    align-items: center;
    border-radius: 0.1rem;
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-align: center;
    font-size: 0.7rem;
    height: 2rem;
    padding: 0.2rem;
    width: auto;
}
.docs-brand .docs-logo:focus,
.docs-brand .docs-logo:hover {
    text-decoration: none;
}
.docs-brand .docs-logo img {
    display: inline-block;
    height: auto;
    width: 1.6rem;
}
.docs-brand .docs-logo h2 {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 0.3rem;
}
.section-hero {
    padding: 1rem 0.5rem;
}
.section-hero .docs-brand {
    position: absolute;
    top: 0.85rem;
}
.section-hero .docs-brand h2 {
    color: #5755d9;
}
@media (max-width: 960px) {
    .off-canvas .off-canvas-toggle {
        z-index: 300;
    }
    .off-canvas .off-canvas-content {
        width: 100%;
    }
    .docs-sidebar .docs-brand {
        margin: 0.85rem 1.5rem;
        padding: 0;
        position: static;
    }
    .docs-sidebar .docs-nav {
        margin-top: 1rem;
        position: static;
    }
    .docs-sidebar .menu .menu-item > a {
        padding: 0.3rem 0.4rem;
    }
    .docs-navbar {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background: rgba(247, 248, 249, 0.65);
        left: 0;
    }
    .docs-content {
        min-width: auto;
        padding: 0 1.5rem;
        width: 100%;
    }
    .docs-content .s-subtitle,
    .docs-content .s-title {
        padding-top: 5rem;
        position: static;
    }
    .docs-content .s-subtitle::before,
    .docs-content .s-title::before {
        content: none;
    }
    .section-hero .s-brand {
        height: 5rem;
        padding: 1.5rem 0.5rem;
        text-align: center;
        width: 100%;
    }
    .section-hero .s-brand .s-logo {
        height: auto;
    }
    .section-hero .s-brand img {
        height: 3.2rem;
        width: 3.2rem;
    }
    .section-hero .s-brand h2 {
        display: none;
    }
}
@media (max-width: 600px) {
    .grid-hero h2 {
        font-size: 0.9rem;
    }
    .grid-hero .card {
        padding: 0;
    }
    .off-canvas .off-canvas-toggle {
        left: 0.5rem;
    }
    .docs-navbar .btns {
        right: 0.9rem;
    }
    .grid-hero .docs-brand {
        left: 0.9rem;
    }
    .docs-sidebar .docs-brand {
        margin: 0.85rem 1rem;
    }
}
